<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppShell">
<!--        android:noHistory="true" 退出后不保留任务列表，一般不会用，毕竟 APP 更希望用户能看到并点出来，大部分应用退出后还是常驻任务列表 -->
<!--        android:excludeFromRecents 退出后不在近期使用列表，一般不会用，同上 APP 更希望用户看到并使用，所以都是默认行为，留在列表。-->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppShell" />
        <activity
            android:name=".BootActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppShell">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>