<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ********华为推送权限设置******** -->
    <permission
        android:name="com.example.appimop.permission.PROCESS_PUSH_MSG"
        android:protectionLevel="signatureOrSystem"
        tools:replace="android:protectionLevel"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.example.appimop.permission.PROCESS_PUSH_MSG" />

    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required only when requesting background location access on
       Android 10 (API level 29) and higher. -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppShell">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppShell">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!--  高版本安卓(android 11 SDK 30 开始)需要提前设置要查看的包，不然无权访问（不能判断是否安装），但是跳转是可以。  -->
    <queries>
        <package android:name="com.tencent.map" />
    </queries>
    <queries>
        <package android:name="com.baidu.BaiduMap" />
    </queries>

</manifest>